<h1>Create a new recipe, mate.</h1>
<hr><br />
<form method="POST" action="/show">
  Name: <input type="text" name="name" /><br />
  Ingredients: <input type="text" name="ingredients" /><br />
  Duration: <input type="text" name="cook_time" /><br />
  <input type="submit" name="submit" value="submit" />
</form>